<%- include ('../partials/header') %>
<div class="container">
<div class="jumbotron">
<h2 class="display-4 text-center">
	Edit <%= campground.name%>'s Details
</h2>
</div>
<div  style="width:30%; margin:25px auto">
	<form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST">
	<div class="form-group">
	<input type='text' name='campground[name]' class="form-control" value="<%= campground.name %>">
		</div>
	<div class="form-group">
			<input type='number' name='campground[price]' class="form-control" value="<%= campground.price %>" min="0.01" step="0.01">
		</div>
		<div class="form-group">
			<input type='text' name='campground[image]' class="form-control" value="<%= campground.image %>" step="0.0001">
		</div>
		<div class="form-group">
			<input type='number' name='campground[lat]' class="form-control" value="<%= campground.lat %>" step="0.0001">
		</div>
		<div class="form-group">
			<input type='number' name='campground[long]' class="form-control" value="<%= campground.long %>" >
		</div>
		<div class="form-group">
			<input type='text' name='campground[description]' class="form-control" value="<%- campground.description %>">
		</div>
		<div class="form-group">
		<button class="btn btn-info btn-block">
		Submit!
		</button>		
			</div>	
</form>
	</div>
<div style="width:30%; margin:25px auto;">
		<a href="/campgrounds">Go Back to the Campgrounds page</a>
			</div>		
</div>

<%- include ('../partials/footer') %>